.products_container {
    background-color: #f3f5f9;
    width: 100%;
    height: auto;
    margin-top: 20px;
    color: black;
    margin: 0 auto;
}

.center{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

/* .all_products_contain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
} */

.all_products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

